.swiper-pagination {position: relative;padding-top: 10rem;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 1rem;} /* 2023-9-15*/
.swiper-pagination-bullet {width:1.4rem;height:1.4rem;background: transparent;border:1.5px solid #141414;opacity: 1;} /* 2023-09-15*/
.swiper-pagination-bullet.swiper-pagination-bullet-active {background: #141414;border-color: #141414;}

/* 2023-09-25*/
.page-color1.swiper-pagination-bullet {border-color: #2c5530;}
.page-color1.swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #2c5530;background-color:#2c5530;}
.page-color2 .swiper-pagination-bullet {border-color: #fff;}
.page-color2 .swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #fff;background-color:#fff;}
.page-color3 .swiper-pagination-bullet {border-color: #1c5b6f;}
.page-color3 .swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #1c5b6f;background-color:#1c5b6f;}
.page-color4 .swiper-pagination-bullet {border-color: #1036a0;}
.page-color4 .swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #1036a0;background-color:#1036a0;}
.page-color5 .swiper-pagination-bullet {border-color: #fff;}
.page-color5 .swiper-pagination-bullet.swiper-pagination-bullet-active {border-color: #fff;background-color:#fff;}

@media screen and (max-width:1145px){
    .swiper-container {margin: 0 -2rem;padding: 0 2rem 2rem;}
}

@media screen and (max-width:768px){
    .swiper-pagination {display: none;} /* 2023-09-25*/
    .swiper-pagination-bullet {width:1rem;height:1rem}
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 0.8rem;}
}
