/* footer.css */

/* 푸터 컴포넌트 스타일 */
footer {
  padding: 2.4rem;
  background-color: #f9f9f9;
  border-top: 1px solid #e4e4e4;
}

.footerWrap {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.corp {
  font-size: 1.4rem;
  color: #333;
}

.policy a {
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
}
