/* titleSection.css */

/* 타이틀 섹션 컴포넌트 스타일 */
.titleWrap {
  padding-top: 6rem;
}

.title1 {
  font-size: 4.2rem;
  line-height: 6.6rem;
  letter-spacing: -0.04rem;
  font-weight: 700;
}

.imgWRap {
  margin-top: 4.4rem;
  position: relative;
}

.imgWRap img.pc-img {
  display: block;
  width: auto;
  height: 35.6rem;
}

.imgWRap img.m-img {
  display: none;
}

.textWrap {
  margin-top: 3.6rem;
}

.text1 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.04rem;
  font-weight: 400;
  color: #333;
}

@media (max-width: 767px) {
  .title1 {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .imgWRap img.pc-img {
    display: none;
  }

  .imgWRap img.m-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .text1 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
