/* workbalanceSection.css */

/* 워크밸런스 섹션 컴포넌트 스타일 */
.workbalanceWrap {
  padding-top: 11rem;
}

.inner-titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  text-decoration: none;
}

.swiper-workbalance-img img {
  width: 100%;
  height: auto;
}

.swiper-workbalance-txt1 {
  margin-top: 2.4rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.swiper-workbalance-txt2 {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: -0.04rem;
  color: #666;
}
